.admin-menu {
    &__button {
        padding:0;        
        margin:0;
        @include hamburger(
        $red, $red, 26px, 22px, 3px, 4
        );
        background: none !important;
    }
    &__dropdown {
        background:#fff;
        //@include callout();
        ul {
            border:none;
            background:none;
            @include menu-base();
            @include menu-direction(vertical);
            li.active {
                @extend .is-active;
            }
        }

    }
}
.admin-menu__button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: inline-grid;
    /* float: right; */

}
.not-logged-in .admin-menu__button {
    display: none;
}
.searchtabs .admin-menu__container {
    float: right;
}
.admin-tabs ul {
    @include tabs-container;
    background:none;
    margin-left: $global-margin;
    border-bottom: $white;
    //transform: translate(10px);
    li {
        @include tabs-title;
        margin-right:$global-margin/2;
        > a {
            border-radius: $global-radius $global-radius 0 0;
            background:#fbfbfb;
            border: 1px solid #ccc;
            border-bottom:0px;
            padding: rem-calc(5) rem-calc(10) ;
            font-family: $roboto-condensed;
            text-transform: uppercase;
            font-size: rem-calc(14);
            &:hover {
                background:$red;
                color:$white;

            }
        }

    }
}
