.roblib_search {
    .form-type-textfield { 
        width:100%;
    }
    label {
        display:none;
    }
    .form-wrapper {
        @extend .input-group;
    }
    input[type="text"] {

        @extend .input-group-field;
        //@include button();
        border-radius: $global-radius 0 0 $global-radius;
    }
    input[type="submit"] {
        @extend .input-group-button;
        @include button();
        @include button-style(
        //$background, 
        $success-color,
        //$background-hover, 
        auto,
        //$color
        auto
        );
        border-radius: 0 $global-radius $global-radius 0;
    }
}

.js-search-results__container {
    $text_size: 14; 
    label {
        float:left;
        font-size: rem-calc($text_size);
    }
    .search-results { 
        @include menu-base();
        a {
            @include padding(0, 0, 0, .5);
            font-size: rem-calc($text_size);
            line-height:1.8;

            &:after {
                content: ',';
            }

        }
        li:last-child a:after {
            content:none;
        }
    }
}
.roblib-eds-more-button,
.roblib-solr-more-button {
    a {
        @include button();
        @include button-style(
        //$background, 
        $success-color,
        //$background-hover, 
        auto,
        //$color
        auto
        )
        @include button-expand(true);
        //@include margin(1);
        margin:0;
        border-radius:0;
        text-transform: uppercase;
        font-family: $roboto-condensed;
        padding: 8px;

    }
}
.not-included {
    h2 {
        background: #333;
        padding-left: 5px;
        border-left: solid;
        border-color: $success-color;
        color: white;
        font-size: rem-calc(24);
    }
    p {
        margin-left: $global-margin/2;
    }
}
.pane-roblib-search-solr-site-roblib-search-solr-site-bestbet {
    margin-bottom:$global-margin*2;
    margin-top: $global-margin;
}
//====================
//bento headers
//====================
.roblib-search-header {
    @include flex;
    @include flex-align(null,middle);
    justify-content: space-between;
    border-color: $red;
    border-left-width: 10px;

    //remove default margin
    h2 {

        margin:0;
        font-size: rem-calc(24);
    }

    .roblib-search-more a {
        color:$white;
        font-family: $roboto-condensed;
        font-size: rem-calc(14);
        text-transform: uppercase;
        //color: lighten($green, 40%);
        color: $white;
        padding:3px;
        border-radius: 4px;
        transition: all .5s ease;
        &:hover {
            background: $light-gray;
            color:$red;
            background: $white;
        }

    }
}
.roblib-search-row:last-child {
    border-bottom: 0;
}
.pane-roblib-search-solr-site {
    .roblib-search-row {
        padding: 4px 8px;
        display:flex;
        transition: all .3s ease;
        &:hover {
            background: darken($white, 10%);
        }
    }
    .solr-site-results {
        white-space: initial;
        overflow: initial;
        text-overflow: initial;
        word-wrap: initial;
        margin-right: 0;
        width: inherit;

    }
    .roblib-solr-bundle{
        &:after {
            content: ':';
            color:$black;
        }
    }
    .roblib-title, .roblib-solr-bundle {
        flex-shrink:0;
        margin-right:$global-margin/3;
        //text-decoration:underline;
    }
    .roblib-solr-teaser {
        white-space: nowrap;
        overflow: hidden;
        font-family: $roboto-condensed;
        text-overflow: ellipsis;    

        min-width: 0;
    } 
}
#roblib-search-results .panel-pane {
    border:0px;
    //box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.eds-pdf-link a {
    @include button();
    @include button-hollow;
    color: $red;
    border-color:$red;
    &:hover {
        color:$white;
        background: $green;
        border-color:$green;
    }

    margin:10px 0;
    padding:4px 6px;
    font-size:rem-calc(12);
    text-transform:uppercase;
    &:before {
        margin-right: 4px;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f1c1";
    }
}
.roblib-title { 
    //text-decoration: underline;
}
