.content {
    @include callout();
    @include padding( 1, 2, 1, 2 );
    @include clearfix;
    h1 {
        border-bottom: 1px solid $medium-gray;
        margin-bottom: $global-margin;
    }
}
//course reserves page 
.item-list-programs {
    h3 {
        margin:0;
        @extend h2;
        ul {
            margin:0;
        }
    }
}
.item-list-programs h3 ul {
        list-style: none;

    @extend .no-bullet;
}
.block__reserves {
    ul {
        @extend .no-bullet;
        margin:0;
    }
    a {
        font-family:$roboto-condensed;
        
    }
    li {
        font-family:$roboto-condensed;
        border-bottom:1px dotted #ccc;
        &:hover {
            background:rgb(212, 220, 202);
            &:before {

                font-weight:bold;
                content: "> ";
            }
        }
        
    }
    li:first-child {
        border-top:1px dotted #ccc;
    }
}
