//@format;
%diy-card {
  background: white url(../img/nav-arrow.png) no-repeat 95% 92%;
  color: gray;
  //font-size: 120%;
  width: 130px;
  padding: 20px;
  margin: 15px 5px;
  max-height: 100px;
  min-height: 100px;
  display: block;
  border-top: 4px solid #6a7f10;
  border-collapse: separate;
  box-shadow: 4px 4px 6px grey;
  border-bottom-right-radius: 15px;
  text-decoration: none;
}
.diy-guide-list .field-content a {
  @extend %diy-card;
}
.related-diys {
  .view-content .views-field-field-guide-title a {
    @extend %diy-card;
  }
}
.add-new-diy-guide {
  text-align: right;
}
.diy-grid {
  &--block {
    a {
      @extend %diy-card;
      //padding: 1em;
      //@include card-container;
      //border-top: 4px solid #8c2004;
      //height: 5rem;
    }
  }
  .view-content {
    //@include flex-grid-row(null, $grid-row-width, 4, true, 2em);
    @include xy-grid;
    @include xy-grid-layout(4, '.diy-grid--block');
  }
}
.section-lib-diy .content .page_title {
  display: none;
}
.diy-admin-links {
  float: right;
  a {
    margin-left: 1rem;
  }
}
.panel-pane {
  border: none;
}
