//@format;
%diy-card {
  background: white url(../img/nav-arrow.png) no-repeat 95% 92%;
  color: gray;
  //font-size: 120%;
  width: 150px;
  padding: 20px;
  margin: 15px 5px;
  max-height: 120px;
  min-height: 120px;
  display: block;
  border-top: 4px solid $red;
  border-collapse: separate;
  box-shadow: 4px 4px 6px grey;
  border-bottom-right-radius: 15px;
  text-decoration: none;
  line-height: 1.3;
}
.diy-grid {
  &--block {
    a {
      @extend %diy-card;
      //padding: 1em;
      //@include card-container;
      //border-top: 4px solid #8c2004;
      //height: 5rem;
    }
  }
  .view-content {
    //@include flex-grid-row(null, $grid-row-width, 4, true, 2em);
    @include xy-grid;
    @include xy-grid-layout(4, '.diy-grid--block');
  }
}
.diy-sidebar-title {
  text-align: center;
}
//.diy-guide-list .field-content a {
//@extend %diy-card;
//}
//.related-diys {
//.view-content .views-field-field-guide-title a {
//@extend %diy-card;
//}
//}
.bryant-content.bryant-content-region {
  border-left: 1px solid #ccc;
}
.add-new-diy-guide {
  text-align: right;
  line-height: 1;
  a {
    font-size: 0.8rem;
    text-decoration: none;
  }
}
.section-lib-diy .content .page_title {
  display: none;
}
.diy-admin-links {
  float: right;
  a {
    margin-left: 1rem;
  }
}
.panel-pane {
  border: none;
}
