.links {
    @include menu-base;
}
.links li {
    border: 1px solid $red;
    margin-right: 4px;
    margin-bottom:1rem;
    .active {
        background:$red;
        color:#fff;
    }
}
.library-events {
    .columns:first-child {
        padding-left: 0;
    }
    .views-row {
        @include callout;
        background: $light-gray;
    }
    .views-field-title {
        @extend h3;
    }
}
.date-picker {
    label {
        display:none;
    }
}
