//block layout
.footer { 
    @include callout;
    border-radius:0;
    background: $black;
    border-bottom:4px solid $primary-color;
    margin-bottom:0;
    .block .title {
        color:$white;
        //text-transform: uppercase;
        font-size: rem-calc(18);
        font-weight:600;
        margin-top: $global-margin;
    }
}
footer .container {
    @include flex-grid-row();
    > * {
        //border: 1px solid $white;
        @include flex-grid-column();
    }

}
.footer-links {
    border-left: 1px solid #ccc;
    padding-left: $global-padding;
}
.footer .menu {
    @include menu-direction(vertical);
    li {
        list-style-type: none;
        color:#ccc;
    }
    a {

        color:#ccc;
        font-size: rem-calc(12);
        padding: rem-calc(5) 0;
    }
}
//footer {
//@include callout;
//border-radius: 0;
//background:$black;
//color:$white;

//}
.subfooter {
    background: darken($black, 10%)
}
body {
    //display:none !important;
}
