form {
    [type="submit"] {
        margin-bottom:$global-margin;
    }
    input {
        margin-bottom: 0;
    }
    label {
        font-size: 1.1rem;
        font-family: "Lusitana";
        //font-weight: 500;
        //color: #5B8C1F; 
        &.option {
            font-family: "Roboto Condensed";
            font-size: .9rem;

        }

    }

    .description {
        @extend .help-text;
        margin-bottom:$global-margin;
    }
    .grippie {
        display:none;
    }
    .form-textarea-wrapper textarea {
        margin: 0 0 1rem;
    }
}
