.four-up-feature {
    text-align: center;

    .four-up-feature-header {
        margin-bottom: 3rem;
        display: flex;

    }

    .four-up-feature-image {
        margin-bottom: 1rem;

    }

    .four-up-feature-text {
        margin-bottom: 1rem;

    }

}
.help-me {
    .libraryh3lp iframe, .libraryh3lp2 iframe {
        width: 100% !important;
    }
    @include callout();
    @include breakpoint(840px){
        @include flex-grid-row();
        .left {

            @include flex-grid-column(8);
        }
        .right {

            @include flex-grid-column(4);
        }
    }
}
.subject_librarians {
    text-align: center;
    @include flex-grid-row();
    @include flex-grid-layout(2,".subject_librarian__container");
    @include breakpoint( 840px ){
        @include flex-grid-layout(3,".subject_librarian__container");
    }
}
.subject_librarian {
    transition: all .5s ease;
            &:hover {

                -webkit-box-shadow: 0px 3px 4px 2px rgba(0,0,0,0.46);
                -moz-box-shadow: 0px 3px 4px 2px rgba(0,0,0,0.46);
                box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);

            }
    &__link {
            color: $black;
    }

    padding: $global-padding;
    &__image_container {

    }
    &__image {
        //width:100px;

        margin:0 auto;
        img {

        border: 1px solid #ccc;
        }
    }
    &__name {
        margin:0;
        font-size:rem-calc(18);

    }
    &__subjects {
        list-style:none;
        margin:0;
        font-size:rem-calc(14);
        font-family:$roboto-condensed;
        //font-weight: bold;
        line-height:1.2;

    }
        padding: .5rem;
            width: 157px;
                border: 1px solid #ddd;
                    height: 215px;
                    margin:0 auto;
                    @include breakpoint(840px) {
                        margin: initial;
                        
                        margin-bottom: .5rem;
                        
                    }
                        margin-bottom: .5rem;
                            background: #f5f4f4;
}

