.upei-roblib-ill-form {
    label {
        font-size: 1.1rem;
        font-family: "Roboto Condensed";
        //font-weight: 500;
        /* color: #5B8C1F; */
    }

    .description {
        font-size: .9rem;
        font-family: "Roboto Condensed";
        font-style: italic;
    }

    input {
        margin-bottom: 0;
    }
    .form-item {
        margin-bottom: 1rem;
    }
    .form-item-doi {

    }

    #edit-doi-button {
        margin-bottom: 1rem;
    }
}
