.off-canvas {
    padding-top: $global-padding;
    .main_menu .menu {
        //margin-top:$global-margin*4;
        @include margin(1,0,1,0)
        @include menu-direction(vertical);

        a {
            @include button(
            //expand
            true,
            //background
            $white,
            //bg hover
            $green,
            //color
            $black,
            //style
            solid
            );
            &:hover {
                color: $white;
            }
            i {
                padding-right: $global-padding/2;
                //color:$green;
            }

            margin:0;
            border-radius: 0;
            border: 1px solid $dark-gray;
            border-left: 4px solid $green;
            border-right: 0px;
            border-top-width: 1px;
            border-bottom-width: 0px;

            display:flex;
        }

        .last a {

            border-bottom-width: 1px;
        }
    }


    .mobile-hours {
        @include callout();

        @include margin(2,1,1,1)
        text-align:center;
        a {
            font-size:.9rem;

        }
        .block__title {
            font-size:1.4rem;
            margin:0;
        }
        @include padding(.5,1,.5,1);
    }





    .close-button {
        right: 1rem;
        top: 1rem;
        font-size: 2em;
        line-height: 1;

    }
}
