.textbook-champions--grid .view-content {
  @include xy-grid;
  margin-top: $global-margin;
  .node--textbook-champion--teaser {
    figure:hover {
      text-decoration: underline;
      color: $red;
    }
    img {
      width: 100%;
      //height: 200px;
    }
    @include xy-cell(3);
  }
  & > div {
  }
}
//full-content
.top-row {
  .field-name-field-tbc-image img {
    @include thumbnail;
    width: 200px;
    margin-right: $global-margin;
  }
}
.node--textbook-champion > * {
  margin-bottom: 1rem;
}
